<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoli.UserMapper2.UserMapper">
    <select id="findAll" resultType="com.xiaoli.entity.User">
       select * from USER
    </select>
</mapper>